<a href="https://colab.research.google.com/github/sviteribuben/ML_01/blob/main/jun_ml_EDA_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Разведочный анализ

Подключитесь к базе данных PostgreSQL и выгрузите таблицу `exploratory`, сохранив ее в датафрейм. <br> <br>
Параметры для подключения следующие: хост – `dsstudents.skillbox.ru`, порт – `5432`, имя базы данных – `db_ds_students`, пользователь – `readonly`, пароль – `6hajV34RTQfmxhS`.

In [22]:
# Required imports
import pandas as pd
import psycopg2

In [23]:
# Establish a connection to the database by creating a cursor object
conn = psycopg2.connect(f"host={'dsstudents.skillbox.ru'} port={5432} dbname={'db_ds_students'} user={'readonly'} password={'6hajV34RTQfmxhS'}")
# Get all values from the SQL request
sql = "select * from exploratory;"
# Create the DataFrame and print top-5
dat = pd.read_sql_query(sql, conn)
dat.head()

                        feature_1  ...                       feature_5
0  2.4399302341553932              ...  -5.3213919475057105
1  1.7705797495879034              ...  -2.0802195404111687
2  0.7428169764168391              ...  -0.19571957951766614
3  -1.510891800324271              ...  -4.098401678335551
4  -0.4835110394772655             ...  -0.04666424110766956

[5 rows x 5 columns]

In [ ]:
# ### YOUR CODE HERE ###
# import psycopg2
# import pandas as pd

# # Establish a connection to the database by creating a cursor object
# conn = psycopg2.connect(host="dsstudents.skillbox.ru", port = 5432, database="db_ds_students", user="readonly", password="6hajV34RTQfmxhS")

# # Create a new cursor
# cur = conn.cursor()

# # # A function that takes in a PostgreSQL query and outputs a pandas database 
# def create_pandas_table(sql_query, database = conn):
#     table = pd.read_sql_query(sql_query, database)
#     return table
  
# # # Utilize the create_pandas_table function to create a Pandas dataframe
# # # Store the data as a variable
# exploratory = create_pandas_table("SELECT vendor_id, vendor_name FROM vendors ORDER BY vendor_name")
# exploratory

# # # Close the cursor and connection to so the server can allocate
# # # bandwidth to other requests
# cur.close()
# conn.close()

Постройте гистограммы распределения для каждой переменной. Поэксперементируйте с количеством "разбивок" (bins). Опишите распределение каждой переменной. В каких областях (пример: от нуля до 2 расположено примерно треть всех значений) сосредоточено больше значений, в каких меньше.

In [ ]:
### YOUR CODE HERE ###

Постройте ящик с усами для каждой переменной. Опишите распределение данных. Прокомментируйте наличие или отсутствие выбросов.

In [ ]:
### YOUR CODE HERE ###

Допустим, мы хотим построить регрессионную модель по имеющимся данным и исследовать влияние остальных переменных на переменную `feature_4`. Постройте диаграммы рассеяния. Определите по графикам, какие независимые переменные имело бы смысл включить в модель регрессии?

In [ ]:
### YOUR CODE HERE ###